body {
    margin: 0;
}

#ECG {
    width: 100vw;
    height: 100vh;
}

#mute {
    border: 0px;
    padding: 0px;
    height: 3vh;
    width: 3vh;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    background: #00000000;
}

#mute {
    border: 0px;
    padding: 0px;
    height: 3vh;
    width: 3vh;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    background: #00000000;
    font-size: 3vh;
}
